.landing {
    background-color: var(--contrast-dark-color);
}

@media screen and (min-width: 1024px) {
    .landing {
        background-image: linear-gradient(0deg, rgba(69, 86, 102, 0.45) 0%, rgba(69, 86, 102, 0.45) 100%),
        url(../img/tecnologia.jpg);
        background-size: cover;
    }
}