:root {
    --open-sans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', serif;
}

body {
    font-family: var(--open-sans);
    color: var(--contrast-light-color);
}

.header,
.hero,
.services,
.highlight,
.about,
.contact,
.footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
}