/* Coolors Exported Palette - https://coolors.co/ffffff-5f57cc-455666-58b945-c650c1-bcbcbc-3abcd4 */

/* CSS HEX */
:root {
    --primary-color: #58b945ff;
    --secondary-color: #5f57ccff;
    --contrast-light-color: #ffffffff;
    --contrast-dark-color: #455666ff;
    --shadow:   #bcbcbcff;
}