.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--contrast-dark-color);
    color: var(--contrast-light-color);
}

.footer__logo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo {
        display: flex;
    }
}