.header {
    max-width: 150ch;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex; 
        justify-content: space-between;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}   