.header__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    line-height: 2.6rem;
    max-width: 50ch;
}

.header__link {
    color: var(--contrast-light-color);
    text-decoration: none;
}

.header__link--active {
    color: var(--shadow);
}