.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    border-radius: 1rem;
    width: 4rem;
}

.header__logo p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--montserrat);
    margin-left: 1rem;
}