.header__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    line-height: 2.6rem;
}

.header__link {
    color: var(--contrast-light-color);
    text-decoration: none;
}

.header__link--active {
    color: var(--shadow);
}

@media screen and (min-width: 1024px) {
    .header__nav {
        margin: 0;
    }

    .header__link {
        padding-left: 3rem;
    }
}