.contact__button {
    background-color: var(--secondary-color);
    border: 1px solid var(--shadow);
    color: var(--contrast-light-color);
}

.contact__button:hover {
    background-color: var(--contrast-light-color);
    color: var(--secondary-color);
}