.hero__title {
    text-align: center;
    font-family: var(--montserrat);
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .hero__title {
        text-align: left;
        padding: 0;
    }
}
