.hero__button {
    background-color: var(--contrast-dark-color);
    border: 1px solid var(--primary-color);
    color: var(--contrast-light-color);
}

.hero__button:hover {
    background-color: var(--primary-color);
    color: var(--contrast-dark-color);
}

@media screen and (min-width: 1024px) {
    .hero__button {
        background-color: var(--primary-color);
        color: var(--contrast-light-color);
    }

    .hero__button:hover {
        background-color: var(--contrast-dark-color);
        color: var(--contrast-light-color);
    }
}