.highlight {
    color: var(--contrast-dark-color);
    padding: 3rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .highlight {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 75ch;
        align-content: center;
        justify-content: space-between;
        margin: 0 auto;
    }
}